<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>El Reto JS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container" id="contenedor">

</div>
<div class="container">
    <h3 class="text-danger" id="solucion"></h3>
</div>
<div class="container" id="botones">
    <button class="btn btn-primary" id="siguiente">Siguiente</button>
    <button class="btn btn-primary" id="btnNueva">Nueva partida</button>
    <button class="btn btn-danger" id="btnSolucion">Ver solución</button>
    <span id="segundos"></span>
</div>

<script>
        var pos=0; //Es la posición de la palabra que toca adivinar para que sea aleatoria
        var resueltas=0; //El número de palabras ya acertadas
        document.getElementById("siguiente").onclick=ponerDefinicion;
        document.getElementById("btnSolucion").onclick=ponerSolucion;
        document.getElementById("btnNueva").onclick=()=>window.location.reload();
        var listaPalabras;
        var partida=aleatorios(6,6);
        var msg = new SpeechSynthesisUtterance();
        setInterval(() => document.getElementById("segundos").innerHTML--, 1000);

        function fetchData() {
          fetch("http://localhost:8000/lista6",
            {
                method: 'GET',
                headers: new Headers({ 'Content-type': 'application/json'}),
                mode: 'cors',
                cache: 'default'
            })
            .then((response) => response.json())
            .then((json) => takeData(json));
        }

        function takeData(val) {
            //Pongo las 3 primeras letras de las 6 palabras
            for(let p in val){
                let element = document.createElement("h2");
                element.innerHTML=val[p].ini3;
                element.id=val[p].palabra;
                document.getElementById('contenedor').appendChild(element);
            }
            listaPalabras=val; //Guardo la referencia en una variable global

            /*//Versión desordenada de la lista
            const desordenada=structuredClone(val);
            desordenada.sort(randomize);*/

            //Pongo la primera definición
            let element = document.createElement("h3");
            element.id="definicion";
            //element.innerHTML=val[partida[pos]].definicion;
            document.getElementById('contenedor').appendChild(element);

            let frase=listaPalabras[partida[pos]].definicion.split(".")[0]; //Me quedo solo con la primera definición
            msg.text = frase;
            window.speechSynthesis.speak(msg);

            //Pongo los segundos en 50
            document.getElementById("segundos").innerHTML=50;

            return console.log(val);
        }

        function ponerDefinicion(){
            if(resueltas>5){
                window.location.reload();
            }else{
                do{
                    pos = (pos<5) ? pos+1 : 0;
                }while(listaPalabras[partida[pos]].resuelta);
                //Pongo la nueva definición
                let element = document.getElementById("definicion");
                //element.innerHTML=listaPalabras[partida[pos]].definicion;
                //Borro la solución
                document.getElementById("solucion").innerHTML="";

                speechSynthesis.cancel();
                let frase=listaPalabras[partida[pos]].definicion.split(".")[0];
                msg.text = frase;
                window.speechSynthesis.speak(msg);
            }
        }

        function ponerSolucion(){
            document.getElementById("solucion").innerHTML=listaPalabras[partida[pos]].palabra;
            let element=document.getElementById(listaPalabras[partida[pos]].palabra);
            element.style.textDecoration="line-through";
            listaPalabras[partida[pos]].resuelta=true;
            resueltas++;
            //element.innerHTML="";
        }

        function aleatorios(cantidad, maxValor){
            var nums=[];
            var repetido, aux;
            for(var n=0; n<cantidad; n++){
                do{
                    aux=Math.floor(Math.random() * maxValor);
                    repetido=false;
                    for(var m=0; m<n; m++){
                        if(nums[m]==aux)
                            repetido=true;
                    }
                }while(repetido);
                nums[n]=aux
            }
            return nums;
        }

        function randomize(a, b) {
            return Math.random() - 0.5;
        }

        fetchData();
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>